.header-background{
    width: 100%;
    z-index: 1;
    position: absolute;
    height: 100%;
}
.header-menu{
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}
.header-content{
    display: flex;
    z-index: 2;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    width: 100%;
}
.main-title{
    z-index: 2;
    display: flex;
    justify-items: center;
    color: white;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#icon-arrow-down{
    height: 150px;
    width: 50px;
}
.title{
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: white;
    margin-left: 10px;
}
.menu-option{
    font-family: 'Barlow', sans-serif;
    font-weight:bolder;
    font-size: 25px;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: default;
}
body{
    padding:0%;
    margin:0px;
}
.header-wrapper{
    padding:0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
